.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.success-input {
    border: 2px solid green;
    border-radius: 4px;
}

.error-input {
    border: 2px solid red;
    border-radius: 4px;
}

div.fixed-column {
    width: 500px;
    margin: auto;
  }